@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'sans-serif' !important;
}


.swiper-pagination {
    position: relative;
    text-align: center;
   margin-top: 50px;
}

.swiper-pagination-bullet-active {
    background-color: #ff6347 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    margin: 3px !important;
}