@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'sans-serif' !important;
}


.swiper-pagination {
    position: relative;
    text-align: center;
   margin-top: 50px;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}